@charset "UTF-8";
/* line 1, ../scss/sass/main/_all.scss */
#preloader {
  background: #151515;
  height: 100%;
  width: 100%;
  z-index: 999999;
  position: fixed;
}

/* line 2, ../scss/sass/main/_all.scss */
#preloader .container {
  height: auto;
}

/* line 4, ../scss/sass/main/_all.scss */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

/* line 6, ../scss/sass/main/_all.scss */
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0484A3;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

/* line 8, ../scss/sass/main/_all.scss */
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 16, ../scss/sass/main/_all.scss */
.cl_yellow {
  color: #0484A3;
}

/* line 19, ../scss/sass/main/_all.scss */
.cl_white {
  color: #fff;
}

/* line 23, ../scss/sass/main/_all.scss */
.font_bold {
  font-weight: 900;
}

/* line 26, ../scss/sass/main/_all.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 29, ../scss/sass/main/_all.scss */
.button {
  padding: 10px 40px;
  border-radius: 25px;
  opacity: 0.95;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 36, ../scss/sass/main/_all.scss */
.button:hover {
  opacity: 1;
  padding: 10px 45px;
}
/* line 41, ../scss/sass/main/_all.scss */
.button__wrap {
  margin: 40px auto;
}
/* line 44, ../scss/sass/main/_all.scss */
.button__1 {
  background: rgba(254, 132, 9, 0.7);
}
/* line 47, ../scss/sass/main/_all.scss */
.button__2 {
  background: rgba(0, 176, 255, 0.7);
}
/* line 50, ../scss/sass/main/_all.scss */
.button__3 {
  background: #cf2906;
}

/* line 57, ../scss/sass/main/_all.scss */
.list li {
  display: list-item;
  list-style: disc;
  margin-left: 20px;
  padding-left: 10px;
}
/* line 64, ../scss/sass/main/_all.scss */
.list ol {
  list-style: decimal;
}
/* line 67, ../scss/sass/main/_all.scss */
.list ol li {
  list-style: decimal;
}

/* line 74, ../scss/sass/main/_all.scss */
.link a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffab00;
}

/* line 80, ../scss/sass/main/_all.scss */
.bolt, .section__1__title, .section__2__footer ul li.current small, .section__2__footer ul li:hover small, .section__2__footer__active h2, .section__3__title, .section__4__overlayplay, .section__3__overlayplay {
  font-family: "GothamBold", sans-serif;
  font-weight: normal;
}

/* line 1, ../scss/sass/main/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/sass/main/_global.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/sass/main/_global.scss */
body {
  font-family: "GothamBook", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  background-position: 0px 80px;
  background-size: 100%;
}

/* line 26, ../scss/sass/main/_global.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 30, ../scss/sass/main/_global.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 42, ../scss/sass/main/_global.scss */
a {
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 48, ../scss/sass/main/_global.scss */
a:hover {
  text-decoration: underline;
}

/* line 53, ../scss/sass/main/_global.scss */
a:focus,
button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
  outline-offset: 0;
}

/* line 59, ../scss/sass/main/_global.scss */
img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 67, ../scss/sass/main/_global.scss */
table {
  border-collapse: collapse;
}

/* line 70, ../scss/sass/main/_global.scss */
iframe {
  border: none;
  vertical-align: top;
}

/* line 74, ../scss/sass/main/_global.scss */
li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 79, ../scss/sass/main/_global.scss */
ul li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

/* line 85, ../scss/sass/main/_global.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  color: inherit;
  text-rendering: optimizelegibility;
  font-weight: normal;
}

/* line 93, ../scss/sass/main/_global.scss */
h1, h2, h3 {
  line-height: 1.3;
}

/* line 97, ../scss/sass/main/_global.scss */
h1 {
  font-size: 2.5em;
}

/* line 98, ../scss/sass/main/_global.scss */
h2 {
  font-size: 2em;
}

/* line 99, ../scss/sass/main/_global.scss */
h3 {
  font-size: 1.2857em;
}

/* line 100, ../scss/sass/main/_global.scss */
h4 {
  font-size: 1em;
}

/* line 101, ../scss/sass/main/_global.scss */
h5 {
  font-size: .9375em;
}

/* line 102, ../scss/sass/main/_global.scss */
h6 {
  font-size: .786em;
}

/* line 103, ../scss/sass/main/_global.scss */
p {
  line-height: 1.5;
  margin: 3px 0 15px;
}

/*ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôLAYOUTΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô*/
/* line 5, ../scss/sass/main/_grid.scss */
body [class*=col]:first-child {
  margin-left: 0;
}

/* line 7, ../scss/sass/main/_grid.scss */
.col-x {
  width: auto;
}

/* line 9, ../scss/sass/main/_grid.scss */
.container {
  margin: 0 auto;
  padding: 0 10px;
  *zoom: 1;
}
/* line 13, ../scss/sass/main/_grid.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../scss/sass/main/_grid.scss */
.container__modal {
  background: #fff;
  color: #000;
  padding: 20px;
  height: 450px;
  overflow-y: auto;
}

/* line 34, ../scss/sass/main/_grid.scss */
.clearfix,
.row {
  clear: both;
}
/* line 37, ../scss/sass/main/_grid.scss */
.clearfix:after, .clearfix:before,
.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0;
}
/* line 43, ../scss/sass/main/_grid.scss */
.clearfix:after,
.row:after {
  clear: both;
}

/* line 47, ../scss/sass/main/_grid.scss */
.clearfix {
  clear: both;
}

/*ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôUtilitiesΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô*/
/* line 2, ../scss/sass/main/_utilities.scss */
.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 11, ../scss/sass/main/_utilities.scss */
.display-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 22, ../scss/sass/main/_utilities.scss */
.imgfill {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 30, ../scss/sass/main/_utilities.scss */
.center-text {
  text-align: center;
}

/* line 33, ../scss/sass/main/_utilities.scss */
.center-modul {
  float: none;
}

/* line 36, ../scss/sass/main/_utilities.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 40, ../scss/sass/main/_utilities.scss */
.top {
  display: table-cell;
  vertical-align: top;
}

/* line 44, ../scss/sass/main/_utilities.scss */
.bottom {
  display: table-cell;
  vertical-align: bottom;
}

/* line 49, ../scss/sass/main/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 54, ../scss/sass/main/_utilities.scss */
.hide {
  display: none !important;
}

/* line 57, ../scss/sass/main/_utilities.scss */
.show {
  display: block;
}

/* line 60, ../scss/sass/main/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 63, ../scss/sass/main/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 70, ../scss/sass/main/_utilities.scss */
.affix {
  position: fixed;
}

/* line 74, ../scss/sass/main/_utilities.scss */
.d_table {
  display: table;
}

/* line 75, ../scss/sass/main/_utilities.scss */
.d_block {
  display: block;
}

/* line 78, ../scss/sass/main/_utilities.scss */
.right {
  float: right !important;
}

/* line 79, ../scss/sass/main/_utilities.scss */
.left {
  float: left !important;
}

/* line 82, ../scss/sass/main/_utilities.scss */
.text-left {
  text-align: left !important;
}

/* line 83, ../scss/sass/main/_utilities.scss */
.text-right {
  text-align: right !important;
}

/* line 84, ../scss/sass/main/_utilities.scss */
.text-center {
  text-align: center !important;
}

/* line 87, ../scss/sass/main/_utilities.scss */
.m_auto {
  margin: 0 auto !important;
}

/* line 88, ../scss/sass/main/_utilities.scss */
.mt1 {
  margin-top: 10px !important;
}

/* line 89, ../scss/sass/main/_utilities.scss */
.mb1 {
  margin-bottom: 10px !important;
}

/* line 90, ../scss/sass/main/_utilities.scss */
.mr1 {
  margin-right: 10px !important;
}

/* line 91, ../scss/sass/main/_utilities.scss */
.ml1 {
  margin-left: 10px !important;
}

/* line 92, ../scss/sass/main/_utilities.scss */
.pt1 {
  padding-top: 10px !important;
}

/* line 93, ../scss/sass/main/_utilities.scss */
.pb1 {
  padding-bottom: 10px !important;
}

/* line 94, ../scss/sass/main/_utilities.scss */
.pr1 {
  padding-right: 10px !important;
}

/* line 95, ../scss/sass/main/_utilities.scss */
.pl1 {
  padding-left: 10px !important;
}

/* line 96, ../scss/sass/main/_utilities.scss */
.mt2 {
  margin-top: 20px !important;
}

/* line 97, ../scss/sass/main/_utilities.scss */
.mt4 {
  margin-top: 40px !important;
}

/* line 98, ../scss/sass/main/_utilities.scss */
.mb2 {
  margin-bottom: 20px !important;
}

/* line 99, ../scss/sass/main/_utilities.scss */
.mr2 {
  margin-right: 20px !important;
}

/* line 100, ../scss/sass/main/_utilities.scss */
.ml2 {
  margin-left: 20px !important;
}

/* line 101, ../scss/sass/main/_utilities.scss */
.pt2 {
  padding-top: 20px !important;
}

/* line 102, ../scss/sass/main/_utilities.scss */
.pb2 {
  padding-bottom: 20px !important;
}

/* line 103, ../scss/sass/main/_utilities.scss */
.pr2 {
  padding-right: 20px !important;
}

/* line 104, ../scss/sass/main/_utilities.scss */
.pl2 {
  padding-left: 20px !important;
}

/* line 106, ../scss/sass/main/_utilities.scss */
.pt4 {
  padding-top: 40px !important;
}

/* line 107, ../scss/sass/main/_utilities.scss */
.pb4 {
  padding-bottom: 40px !important;
}

/* line 108, ../scss/sass/main/_utilities.scss */
.mt5 {
  margin-top: 50px !important;
}

/* line 110, ../scss/sass/main/_utilities.scss */
.offset {
  padding: 0 !important;
}

/* line 113, ../scss/sass/main/_utilities.scss */
.offset-10 {
  padding: 0 10px !important;
}

/* line 116, ../scss/sass/main/_utilities.scss */
.offset-25 {
  padding: 0 25 !important;
}

/* line 121, ../scss/sass/main/_utilities.scss */
.parallax {
  width: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  background-attachment: fixed;
}

/* line 1, ../scss/sass/main/_header.scss */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  left: 0;
  z-index: 999;
  background: #fff;
}
/* line 10, ../scss/sass/main/_header.scss */
.header.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* line 14, ../scss/sass/main/_header.scss */
.connect {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 12px;
  padding: 10px;
  z-index: 2;
}
@media (max-width: 768px) {
  /* line 14, ../scss/sass/main/_header.scss */
  .connect {
    font-size: 12px;
  }
}
/* line 26, ../scss/sass/main/_header.scss */
.connect span {
  float: right;
  margin-left: 8px;
  width: 30px;
}

/* line 35, ../scss/sass/main/_header.scss */
.menu {
  z-index: 9999;
  position: absolute;
}
/* line 40, ../scss/sass/main/_header.scss */
.menu__close {
  position: absolute;
  right: 25px;
  cursor: pointer;
}
/* line 46, ../scss/sass/main/_header.scss */
.menu__icon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 30px;
  display: block;
  z-index: 20;
}
@media (max-width: 768px) {
  /* line 46, ../scss/sass/main/_header.scss */
  .menu__icon {
    top: 10px;
    left: 10px;
  }
}
/* line 59, ../scss/sass/main/_header.scss */
.menu__show {
  z-index: 9999;
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 72, ../scss/sass/main/_header.scss */
.menu__show.open {
  left: 0;
}
/* line 76, ../scss/sass/main/_header.scss */
.menu__show__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 9999;
}
/* line 85, ../scss/sass/main/_header.scss */
.menu__show__overlay.open {
  display: block;
}
/* line 90, ../scss/sass/main/_header.scss */
.menu__show h3 {
  color: #c0c0c0;
  text-align: left;
  padding: 20px;
}
/* line 97, ../scss/sass/main/_header.scss */
.menu__show ul li {
  display: list-item;
  padding: 0px 30px;
  margin-top: 20px;
  text-align: right;
}
/* line 104, ../scss/sass/main/_header.scss */
.menu__show ul li a {
  font-size: 16px;
  color: #0483a3;
}
/* line 107, ../scss/sass/main/_header.scss */
.menu__show ul li a.active {
  font-family: "GothamBold", sans-serif;
}

/* line 3, ../scss/sass/main/_main.scss */
.slick-slider {
  height: 100%;
}

/* line 6, ../scss/sass/main/_main.scss */
.slick-list {
  height: 100%;
}

/* line 9, ../scss/sass/main/_main.scss */
.slick-track {
  height: 100%;
}

/* line 12, ../scss/sass/main/_main.scss */
.slick-initialized .slick-slide {
  display: table !important;
  outline: none !important;
}

/* line 16, ../scss/sass/main/_main.scss */
.slick-dots {
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0 !important;
}
@media (max-width: 768px) {
  /* line 16, ../scss/sass/main/_main.scss */
  .slick-dots {
    bottom: 0px !important;
  }
}

/* line 25, ../scss/sass/main/_main.scss */
.slick-dots li {
  margin: 0 20px;
  width: 110px;
  height: 7px;
}
@media (max-width: 768px) {
  /* line 25, ../scss/sass/main/_main.scss */
  .slick-dots li {
    width: 40px !important;
    margin: 0 15px;
  }
}

/* line 35, ../scss/sass/main/_main.scss */
.slick-dots li button {
  outline: none !important;
  width: 110px;
  height: 7px;
}
@media (max-width: 768px) {
  /* line 35, ../scss/sass/main/_main.scss */
  .slick-dots li button {
    width: 50px;
  }
}

/* line 43, ../scss/sass/main/_main.scss */
.slick-dots li button::before {
  font-size: 25px !important;
  border: 1px solid #fff;
  border-radius: 0 !important;
  color: inherit !important;
  outline: none !important;
  opacity: 1;
  box-shadow: 0px 0 65px #676767;
  width: 110px;
  height: 7px;
}
@media (max-width: 768px) {
  /* line 43, ../scss/sass/main/_main.scss */
  .slick-dots li button::before {
    width: 50px;
  }
}

/* line 58, ../scss/sass/main/_main.scss */
.slick-dots li.slick-active button::before {
  background: #fff !important;
}

/* line 61, ../scss/sass/main/_main.scss */
.slick-dots {
  left: 0 !important;
}

/* line 64, ../scss/sass/main/_main.scss */
.slick-dots li.slick-active button::before {
  opacity: 1 !important;
}

/* line 67, ../scss/sass/main/_main.scss */
.slick-dots li.slick-active button::before {
  opacity: 1 !important;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  /* line 77, ../scss/sass/main/_main.scss */
  .mCSB_inside > .mCSB_container {
    margin-right: 15px !important;
  }
}

/* line 86, ../scss/sass/main/_main.scss */
.body {
  position: fixed;
  height: 100%;
  background: #47b5d0;
  background: -moz-radial-gradient(center, ellipse cover, #47b5d0 0%, #008eb1 79%, #0483a3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #47b5d0), color-stop(79%, #008eb1), color-stop(100%, #0483a3));
  background: -webkit-radial-gradient(center, ellipse cover, #47b5d0 0%, #008eb1 79%, #0483a3 100%);
  background: -o-radial-gradient(center, ellipse cover, #47b5d0 0%, #008eb1 79%, #0483a3 100%);
  background: -ms-radial-gradient(center, ellipse cover, #47b5d0 0%, #008eb1 79%, #0483a3 100%);
  background: radial-gradient(ellipse at center, #47b5d0 0%, #008eb1 79%, #0483a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b5d0', endColorstr='#0483a3', GradientType=1 );
}
/* line 98, ../scss/sass/main/_main.scss */
.body__bg {
  background-size: cover !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
/* line 107, ../scss/sass/main/_main.scss */
.body__bg__1 {
  background: url(../images/bg_slide1.png) no-repeat;
}
/* line 110, ../scss/sass/main/_main.scss */
.body__bg__2 {
  background: url(../images/bg_orna.png) no-repeat;
}
/* line 114, ../scss/sass/main/_main.scss */
.body__white {
  background: #fff;
  position: relative;
}

/* line 124, ../scss/sass/main/_main.scss */
.section__1 {
  margin-left: auto !important;
}
@media (max-width: 768px) {
  /* line 128, ../scss/sass/main/_main.scss */
  .section__1__logo {
    text-align: center;
    margin: 0 auto 15px auto !important;
    float: none;
  }
}
/* line 135, ../scss/sass/main/_main.scss */
.section__1__logo img {
  display: inline !important;
  text-align: center;
}
/* line 141, ../scss/sass/main/_main.scss */
.section__1__title {
  font-size: 33px;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 141, ../scss/sass/main/_main.scss */
  .section__1__title {
    font-size: 16px;
    max-width: 320px;
  }
}
/* line 151, ../scss/sass/main/_main.scss */
.section__1__orna1 {
  position: absolute;
  top: -50px;
  left: -200px;
}
@media (max-width: 768px) {
  /* line 151, ../scss/sass/main/_main.scss */
  .section__1__orna1 {
    display: none !important;
  }
}
/* line 159, ../scss/sass/main/_main.scss */
.section__1__orna2 {
  position: absolute;
  bottom: -120px;
  right: -200px;
}
@media (max-width: 768px) {
  /* line 159, ../scss/sass/main/_main.scss */
  .section__1__orna2 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  /* line 168, ../scss/sass/main/_main.scss */
  .section__2 {
    margin-top: -33%;
  }
}
@media (max-width: 320px) {
  /* line 168, ../scss/sass/main/_main.scss */
  .section__2 {
    margin-top: -40%;
  }
}
/* line 181, ../scss/sass/main/_main.scss */
.section__2__opacity.off {
  opacity: 0.1;
}
/* line 186, ../scss/sass/main/_main.scss */
.section__2__left {
  padding: 40px;
}
@media (max-width: 768px) {
  /* line 186, ../scss/sass/main/_main.scss */
  .section__2__left {
    padding: 10px;
    margin-top: -43%;
  }
}
/* line 195, ../scss/sass/main/_main.scss */
.section__2__popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
/* line 203, ../scss/sass/main/_main.scss */
.section__2__popup__wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 211, ../scss/sass/main/_main.scss */
.section__2__popup .container {
  margin-bottom: 10%;
}
/* line 215, ../scss/sass/main/_main.scss */
.section__2__popup .mCustomScrollbar {
  height: 450px;
}
@media (max-width: 768px) {
  /* line 215, ../scss/sass/main/_main.scss */
  .section__2__popup .mCustomScrollbar {
    height: 350px;
  }
}
/* line 223, ../scss/sass/main/_main.scss */
.section__2__popup__header {
  margin-left: auto !important;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 228, ../scss/sass/main/_main.scss */
.section__2__popup__logo {
  padding-top: 30px;
}
/* line 230, ../scss/sass/main/_main.scss */
.section__2__popup__logo__grid {
  padding-top: 24px;
}
/* line 235, ../scss/sass/main/_main.scss */
.section__2__popup__icon {
  text-align: center;
}
/* line 239, ../scss/sass/main/_main.scss */
.section__2__popup__icon img {
  width: 100px;
  display: inline;
}
@media (max-width: 768px) {
  /* line 239, ../scss/sass/main/_main.scss */
  .section__2__popup__icon img {
    width: 70px;
  }
}
@media (max-width: 768px) {
  /* line 251, ../scss/sass/main/_main.scss */
  .section__2__popup__4 .section__2__popup__logo {
    padding-top: 0 !important;
  }
}
@media (max-width: 768px) {
  /* line 256, ../scss/sass/main/_main.scss */
  .section__2__popup__4 .section__2__popup__icon {
    margin-left: auto !important;
    margin-right: auto;
    float: none;
  }
}
/* line 267, ../scss/sass/main/_main.scss */
.section__2__popup__content {
  clear: both;
  text-align: center;
}
/* line 274, ../scss/sass/main/_main.scss */
.section__2__popup__content h2 {
  font-size: 25px;
}
@media (max-width: 768px) {
  /* line 274, ../scss/sass/main/_main.scss */
  .section__2__popup__content h2 {
    font-size: 14px;
  }
}
/* line 286, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item {
  border: 1px solid #fff;
  margin-top: 50px;
  padding: 0px 20px 20px 20px;
  border-top: 0;
  position: relative;
}
/* line 293, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item h3 {
  display: inline;
  padding: 0px 20px;
  position: relative;
  top: -15px;
  text-transform: uppercase;
}
/* line 302, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item .line {
  height: 1px;
  width: 50%;
  display: block;
  position: absolute;
  top: 0;
  background: #fff;
}
/* line 310, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item .line__left {
  left: 0;
}
/* line 314, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item .line__right {
  right: 0;
}
/* line 318, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item .line__print {
  width: 42%;
}
@media (max-width: 768px) {
  /* line 318, ../scss/sass/main/_main.scss */
  .section__2__popup__content .category__item .line__print {
    width: 30%;
  }
}
/* line 324, ../scss/sass/main/_main.scss */
.section__2__popup__content .category__item .line__digital {
  width: 38%;
}
@media (max-width: 768px) {
  /* line 324, ../scss/sass/main/_main.scss */
  .section__2__popup__content .category__item .line__digital {
    width: 17%;
  }
}
/* line 332, ../scss/sass/main/_main.scss */
.section__2__popup__content .category ul {
  overflow: hidden;
}
/* line 334, ../scss/sass/main/_main.scss */
.section__2__popup__content .category ul li {
  width: 15%;
}
@media (max-width: 768px) {
  /* line 334, ../scss/sass/main/_main.scss */
  .section__2__popup__content .category ul li {
    width: 40%;
  }
}
/* line 350, ../scss/sass/main/_main.scss */
.section__2__title {
  font-size: 30px;
}
@media (max-width: 768px) {
  /* line 350, ../scss/sass/main/_main.scss */
  .section__2__title {
    font-size: 18px;
    margin-bottom: 5px !important;
  }
}
@media (max-width: 768px) {
  /* line 358, ../scss/sass/main/_main.scss */
  .section__2__right {
    width: 300px;
    margin: 10% auto 0 auto;
    float: none;
  }
}
@media (max-width: 768px) {
  /* line 366, ../scss/sass/main/_main.scss */
  .section__2__logo {
    width: 220px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  /* line 366, ../scss/sass/main/_main.scss */
  .section__2__logo {
    display: block !important;
  }
}

/* line 382, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__wrap {
  position: relative;
  top: -95px;
}
@media (max-width: 768px) {
  /* line 382, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__wrap {
    top: 0px;
  }
}
/* line 392, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item {
  position: absolute;
  opacity: 0.4;
  width: 130px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  /* line 392, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item {
    width: 70px;
  }
}
/* line 402, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item a {
  cursor: pointer;
}
/* line 405, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item__center {
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  top: 145px;
}
/* line 412, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item__center a {
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 405, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item__center {
    top: 80px;
  }
}
/* line 419, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item__center img {
  width: 130px;
  display: inherit;
}
@media (max-width: 768px) {
  /* line 419, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item__center img {
    width: 70px;
  }
}
/* line 428, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item__shadow {
  position: absolute;
  top: 390px;
  left: 0;
  right: 0;
  width: 70%;
  float: none;
  clear: both;
  margin: 0 auto;
}
@media (max-width: 768px) {
  /* line 428, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item__shadow {
    top: 205px;
  }
}
/* line 442, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item:nth-child(1) {
  left: 135px;
  top: 240px;
}
@media (max-width: 768px) {
  /* line 442, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item:nth-child(1) {
    left: 77px;
    top: 130px;
  }
}
/* line 450, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item:nth-child(2) {
  left: 65px;
  top: 120px;
}
@media (max-width: 768px) {
  /* line 450, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item:nth-child(2) {
    left: 40px;
    top: 65px;
  }
}
/* line 458, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item:nth-child(3) {
  top: 0;
  left: 135px;
}
@media (max-width: 768px) {
  /* line 458, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item:nth-child(3) {
    top: 0;
    left: 77px;
  }
}
/* line 466, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item:nth-child(4) {
  top: 0;
  right: 135px;
}
@media (max-width: 768px) {
  /* line 466, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item:nth-child(4) {
    top: 0;
    right: 77px;
  }
}
/* line 474, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item:nth-child(5) {
  right: 65px;
  top: 120px;
}
@media (max-width: 768px) {
  /* line 474, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item:nth-child(5) {
    right: 40px;
    top: 65px;
  }
}
/* line 482, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item:nth-child(6) {
  right: 135px;
  top: 240px;
}
@media (max-width: 768px) {
  /* line 482, ../scss/sass/main/_main.scss */
  .section__2 .icon_slide__item:nth-child(6) {
    right: 77px;
    top: 130px;
  }
}
/* line 490, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item.current, .section__2 .icon_slide__item:hover {
  opacity: 1;
}
/* line 494, ../scss/sass/main/_main.scss */
.section__2 .icon_slide__item.current.icon_slide__item, .section__2 .icon_slide__item:hover.icon_slide__item {
  transform: scale(1.2);
}
/* line 502, ../scss/sass/main/_main.scss */
.section__2 .slick-current {
  opacity: 1;
}
/* line 509, ../scss/sass/main/_main.scss */
.section__2 .slick-list {
  overflow: inherit !important;
}
/* line 512, ../scss/sass/main/_main.scss */
.section__2 .slick-slide {
  margin: 0 3px;
  width: 110px !important;
}
/* line 517, ../scss/sass/main/_main.scss */
.section__2__footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 9999;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 517, ../scss/sass/main/_main.scss */
  .section__2__footer {
    bottom: 7%;
  }
}
/* line 531, ../scss/sass/main/_main.scss */
.section__2__footer ul li {
  opacity: 0.4;
  padding: 0 13px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  /* line 531, ../scss/sass/main/_main.scss */
  .section__2__footer ul li {
    display: none;
  }
}
/* line 541, ../scss/sass/main/_main.scss */
.section__2__footer ul li.current, .section__2__footer ul li:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  /* line 541, ../scss/sass/main/_main.scss */
  .section__2__footer ul li.current, .section__2__footer ul li:hover {
    display: block;
  }
}
/* line 548, ../scss/sass/main/_main.scss */
.section__2__footer ul li.current h3, .section__2__footer ul li:hover h3 {
  font-family: "GothamBold", sans-serif;
}
/* line 552, ../scss/sass/main/_main.scss */
.section__2__footer ul li.current .section__2__footer__active, .section__2__footer ul li:hover .section__2__footer__active {
  opacity: 1;
  top: -45px;
}
@media (max-width: 768px) {
  /* line 552, ../scss/sass/main/_main.scss */
  .section__2__footer ul li.current .section__2__footer__active, .section__2__footer ul li:hover .section__2__footer__active {
    top: -25px;
  }
}
/* line 570, ../scss/sass/main/_main.scss */
.section__2__footer ul li small {
  font-size: 12px;
}
@media (max-width: 768px) {
  /* line 570, ../scss/sass/main/_main.scss */
  .section__2__footer ul li small {
    font-size: 10px;
  }
}
/* line 577, ../scss/sass/main/_main.scss */
.section__2__footer ul li h3 {
  font-size: 15px;
}
@media (max-width: 768px) {
  /* line 577, ../scss/sass/main/_main.scss */
  .section__2__footer ul li h3 {
    font-size: 13px;
  }
}
/* line 586, ../scss/sass/main/_main.scss */
.section__2__footer__active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  opacity: 0;
}
@media (max-width: 768px) {
  /* line 586, ../scss/sass/main/_main.scss */
  .section__2__footer__active {
    font-size: 10px;
  }
}
/* line 601, ../scss/sass/main/_main.scss */
.section__2__footer__active ul li {
  opacity: 1;
}
/* line 605, ../scss/sass/main/_main.scss */
.section__2__footer__active.small {
  font-size: 7px;
}
/* line 616, ../scss/sass/main/_main.scss */
.section__2__footer__active.scrollbar__wrap {
  width: 230px;
  left: -20px;
}
@media (max-width: 768px) {
  /* line 616, ../scss/sass/main/_main.scss */
  .section__2__footer__active.scrollbar__wrap {
    width: auto;
    left: 0;
  }
}
/* line 625, ../scss/sass/main/_main.scss */
.section__2__footer__active.scrollbar__wrap h2 {
  display: inline-block;
  margin: 0 5px;
}
/* line 631, ../scss/sass/main/_main.scss */
.section__2__footer__active.scrollbar h2 {
  display: inline-block;
  margin: 0 5px;
}
/* line 643, ../scss/sass/main/_main.scss */
.section__3 {
  margin-left: auto !important;
  text-align: center;
}
/* line 646, ../scss/sass/main/_main.scss */
.section__3__title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 653, ../scss/sass/main/_main.scss */
.section__3__category h3 {
  font-size: 30px;
}
/* line 659, ../scss/sass/main/_main.scss */
.section__3__category ul li {
  padding: 5px;
}
@media (max-width: 768px) {
  /* line 659, ../scss/sass/main/_main.scss */
  .section__3__category ul li {
    min-height: 70px;
  }
}
/* line 667, ../scss/sass/main/_main.scss */
.section__3__item {
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 671, ../scss/sass/main/_main.scss */
.section__3__item__wrap {
  height: 450px;
}
@media (max-width: 768px) {
  /* line 671, ../scss/sass/main/_main.scss */
  .section__3__item__wrap {
    height: 400px;
  }
}
@media (max-width: 320px) {
  /* line 671, ../scss/sass/main/_main.scss */
  .section__3__item__wrap {
    height: 300px;
  }
}
/* line 680, ../scss/sass/main/_main.scss */
.section__3__item__inner {
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
}
/* line 690, ../scss/sass/main/_main.scss */
.section__4, .section__3 {
  margin-left: auto !important;
  position: inherit;
}
@media (max-width: 768px) {
  /* line 690, ../scss/sass/main/_main.scss */
  .section__4, .section__3 {
    position: relative;
  }
}
/* line 703, ../scss/sass/main/_main.scss */
.section__4 .container, .section__3 .container {
  width: 100%;
}
/* line 706, ../scss/sass/main/_main.scss */
.section__4__video, .section__3__video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 640px) {
  /* line 706, ../scss/sass/main/_main.scss */
  .section__4__video, .section__3__video {
    height: 200px;
    position: relative;
  }
}
@media (max-width: 414px) {
  /* line 706, ../scss/sass/main/_main.scss */
  .section__4__video, .section__3__video {
    height: 222px;
  }
}
@media (max-width: 412px) {
  /* line 706, ../scss/sass/main/_main.scss */
  .section__4__video, .section__3__video {
    height: 221px;
  }
}
@media (max-width: 375px) {
  /* line 706, ../scss/sass/main/_main.scss */
  .section__4__video, .section__3__video {
    height: 200px;
  }
}
@media (max-width: 360px) {
  /* line 706, ../scss/sass/main/_main.scss */
  .section__4__video, .section__3__video {
    height: 191px;
  }
}
@media (max-width: 320px) {
  /* line 706, ../scss/sass/main/_main.scss */
  .section__4__video, .section__3__video {
    height: 169px;
  }
}
/* line 733, ../scss/sass/main/_main.scss */
.section__4__overlayplay, .section__3__overlayplay {
  text-align: center;
  z-index: 2;
  cursor: pointer;
}
/* line 739, ../scss/sass/main/_main.scss */
.section__4__overlayplay__overlay, .section__3__overlayplay__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 739, ../scss/sass/main/_main.scss */
  .section__4__overlayplay__overlay, .section__3__overlayplay__overlay {
    display: none;
  }
}
/* line 751, ../scss/sass/main/_main.scss */
.section__4__overlayplay__overlay__inner, .section__3__overlayplay__overlay__inner {
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 757, ../scss/sass/main/_main.scss */
.section__4__overlayplay img, .section__3__overlayplay img {
  display: inline;
  width: 65px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 757, ../scss/sass/main/_main.scss */
  .section__4__overlayplay img, .section__3__overlayplay img {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 765, ../scss/sass/main/_main.scss */
  .section__4__overlayplay h2, .section__3__overlayplay h2 {
    font-size: 15px;
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
  }
}

/* line 781, ../scss/sass/main/_main.scss */
.content__page {
  color: #666666;
  padding-top: 50px;
}
/* line 785, ../scss/sass/main/_main.scss */
.content__page a, .content__page p {
  color: #666666;
}
/* line 789, ../scss/sass/main/_main.scss */
.content__page img {
  width: 100%;
}
/* line 797, ../scss/sass/main/_main.scss */
.content__page__client ul li {
  padding: 20px;
}
@media (max-width: 768px) {
  /* line 797, ../scss/sass/main/_main.scss */
  .content__page__client ul li {
    padding: 10px;
  }
}
/* line 808, ../scss/sass/main/_main.scss */
.content__page__maps iframe {
  height: 400px;
}
@media (max-width: 768px) {
  /* line 808, ../scss/sass/main/_main.scss */
  .content__page__maps iframe {
    height: 350px;
  }
}
@media (max-width: 320px) {
  /* line 808, ../scss/sass/main/_main.scss */
  .content__page__maps iframe {
    height: 300px;
  }
}

/* line 822, ../scss/sass/main/_main.scss */
.foto {
  margin: 10px auto;
}
/* line 825, ../scss/sass/main/_main.scss */
.foto__leader {
  width: 100%;
  position: relative;
  margin: 0;
}
/* line 832, ../scss/sass/main/_main.scss */
.foto__leader:hover::before {
  opacity: 1;
}
/* line 835, ../scss/sass/main/_main.scss */
.foto__leader:hover .nametitle {
  display: block;
}
/* line 839, ../scss/sass/main/_main.scss */
.foto__leader::before {
  opacity: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 852, ../scss/sass/main/_main.scss */
.foto__leader__decription {
  float: left;
  width: 20%;
  margin-right: 20px;
}
/* line 858, ../scss/sass/main/_main.scss */
.foto__leader__inner {
  width: 30%;
  padding-right: 20px;
}
@media (max-width: 768px) {
  /* line 858, ../scss/sass/main/_main.scss */
  .foto__leader__inner {
    width: 100%;
    padding: 0;
  }
}
/* line 867, ../scss/sass/main/_main.scss */
.foto img {
  width: 100%;
}
/* line 870, ../scss/sass/main/_main.scss */
.foto__description {
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  z-index: 99;
  display: none;
  font-size: 16px;
  z-index: 99;
  right: 0;
  margin: 0 auto;
}
/* line 888, ../scss/sass/main/_main.scss */
.foto__description p {
  font-size: 14px;
}
/* line 891, ../scss/sass/main/_main.scss */
.foto__description .container {
  width: 900px;
  background: #fff;
  padding: 30px;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  /* line 891, ../scss/sass/main/_main.scss */
  .foto__description .container {
    width: 90%;
    margin-top: 60px;
    height: 80%;
    overflow-y: auto;
    display: inline;
  }
}
/* line 907, ../scss/sass/main/_main.scss */
.foto__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  z-index: 99;
}

/* line 920, ../scss/sass/main/_main.scss */
.nametitle {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 10px;
  width: 100%;
  color: #fff;
  display: none;
}
/* line 931, ../scss/sass/main/_main.scss */
.nametitle h3 {
  font-family: "GothamBold", sans-serif;
  color: #fff;
  font-size: 16px;
}
/* line 937, ../scss/sass/main/_main.scss */
.nametitle h4 {
  font-size: 14px;
}
/* line 940, ../scss/sass/main/_main.scss */
.nametitle .telp {
  margin-top: 10px;
}
/* line 944, ../scss/sass/main/_main.scss */
.nametitle span {
  display: block;
}
/* line 947, ../scss/sass/main/_main.scss */
.nametitle img {
  width: auto;
}
/* line 951, ../scss/sass/main/_main.scss */
.nametitle__visit {
  position: relative;
  display: block;
}
/* line 955, ../scss/sass/main/_main.scss */
.nametitle__visit h3 {
  color: #3E9ABA;
}
/* line 958, ../scss/sass/main/_main.scss */
.nametitle__visit h4 {
  color: #000;
}

/* line 963, ../scss/sass/main/_main.scss */
.paragraf {
  width: 70%;
}
@media (max-width: 768px) {
  /* line 963, ../scss/sass/main/_main.scss */
  .paragraf {
    width: 100%;
  }
}
/* line 969, ../scss/sass/main/_main.scss */
.paragraf .nametitle {
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 969, ../scss/sass/main/_main.scss */
  .paragraf .nametitle {
    margin-top: 10px;
  }
}
/* line 979, ../scss/sass/main/_main.scss */
.paragraf .nametitle h3 {
  font-family: "GothamBold", sans-serif;
  color: #3E9ABA;
  font-size: 16px;
}
/* line 984, ../scss/sass/main/_main.scss */
.paragraf .nametitle h4 {
  font-size: 14px;
  color: #666666;
}

/* line 990, ../scss/sass/main/_main.scss */
.btnback {
  display: none;
}
@media (max-width: 768px) {
  /* line 990, ../scss/sass/main/_main.scss */
  .btnback {
    position: absolute;
    font-size: 11px;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #fff;
    display: inherit;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    width: 70px;
  }
}

/* line 1012, ../scss/sass/main/_main.scss */
.mainfoto {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 30px;
}
/* line 1018, ../scss/sass/main/_main.scss */
.mainfoto li {
  width: 25%;
  position: inherit;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 1018, ../scss/sass/main/_main.scss */
  .mainfoto li {
    width: 50%;
  }
}
/* line 1055, ../scss/sass/main/_main.scss */
.mainfoto li.active .foto__description {
  display: flex;
}

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.eot");
  src: url("../fonts/GothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.svg#GothamBook") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.svg#GothamBold") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
/* line 26, ../scss/sass/main/_fontface.scss */
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 51, ../scss/sass/main/_fontface.scss */
.icon-calendar2:before {
  content: "\f068";
}

/* line 54, ../scss/sass/main/_fontface.scss */
.icon-location2:before {
  content: "\f060";
}

/* line 57, ../scss/sass/main/_fontface.scss */
.icon-envelope:before {
  content: "\e903";
}

/* line 60, ../scss/sass/main/_fontface.scss */
.icon-search2:before {
  content: "\e902";
}

/* line 63, ../scss/sass/main/_fontface.scss */
.icon-image:before {
  content: "\e90d";
}

/* line 66, ../scss/sass/main/_fontface.scss */
.icon-location:before {
  content: "\e947";
}

/* line 69, ../scss/sass/main/_fontface.scss */
.icon-calendar:before {
  content: "\e953";
}

/* line 72, ../scss/sass/main/_fontface.scss */
.icon-printer:before {
  content: "\e954";
}

/* line 75, ../scss/sass/main/_fontface.scss */
.icon-user:before {
  content: "\e971";
}

/* line 78, ../scss/sass/main/_fontface.scss */
.icon-search:before {
  content: "\e986";
}

/* line 81, ../scss/sass/main/_fontface.scss */
.icon-airplane:before {
  content: "\e9af";
}

/* line 84, ../scss/sass/main/_fontface.scss */
.icon-bookmark:before {
  content: "\e9d2";
}

/* line 87, ../scss/sass/main/_fontface.scss */
.icon-star-empty:before {
  content: "\e9d7";
}

/* line 90, ../scss/sass/main/_fontface.scss */
.icon-star-full:before {
  content: "\e9d9";
}

/* line 93, ../scss/sass/main/_fontface.scss */
.icon-plus:before {
  content: "\ea0a";
}

/* line 96, ../scss/sass/main/_fontface.scss */
.icon-minus:before {
  content: "\ea0b";
}

/* line 99, ../scss/sass/main/_fontface.scss */
.icon-info:before {
  content: "\ea0c";
}

/* line 102, ../scss/sass/main/_fontface.scss */
.icon-cancel-circle:before {
  content: "\ea0d";
}

/* line 105, ../scss/sass/main/_fontface.scss */
.icon-cross:before {
  content: "\ea0f";
}

/* line 108, ../scss/sass/main/_fontface.scss */
.icon-checkmark:before {
  content: "\ea10";
}

/* line 111, ../scss/sass/main/_fontface.scss */
.icon-circle-right:before {
  content: "\ea42";
}

/* line 114, ../scss/sass/main/_fontface.scss */
.icon-circle-left:before {
  content: "\ea44";
}

/* line 117, ../scss/sass/main/_fontface.scss */
.icon-google-plus:before {
  content: "\ea8b";
}

/* line 120, ../scss/sass/main/_fontface.scss */
.icon-facebook:before {
  content: "\ea90";
}

/* line 123, ../scss/sass/main/_fontface.scss */
.icon-instagram:before {
  content: "\ea92";
}

/* line 126, ../scss/sass/main/_fontface.scss */
.icon-whatsapp:before {
  content: "\ea93";
}

/* line 129, ../scss/sass/main/_fontface.scss */
.icon-twitter:before {
  content: "\ea96";
}

/* line 132, ../scss/sass/main/_fontface.scss */
.icon-home:before {
  content: "\e900";
}

/* line 135, ../scss/sass/main/_fontface.scss */
.icon-compare_arrows:before {
  content: "\e901";
}

/* line 1, ../scss/sass/main/_footer.scss */
.footer {
  text-align: center;
  background: #0e3764;
}
/* line 5, ../scss/sass/main/_footer.scss */
.footer .container {
  background: url(../images/footer_bg.png) no-repeat top right;
  height: 155px;
}
/* line 9, ../scss/sass/main/_footer.scss */
.footer__inner {
  padding-top: 40px;
}
/* line 12, ../scss/sass/main/_footer.scss */
.footer p {
  font-weight: bold;
}
/* line 15, ../scss/sass/main/_footer.scss */
.footer small {
  font-size: 12px;
}
